.formInputContainer {
    display: inline-block;
    margin: 4px;
}

.formInputContainer input {
    border: none;
    border-bottom: 2px solid #0ABBB5;
    background-color: #fff;
    font-size: 1.1rem;
    padding: 1.375rem .5rem .4rem .75rem;
    color: #444;
    display: block;
    width: 15rem;
}

.formInputContainer div {
    font-size: 1.1rem;
    color: #444;
    position: relative;
    left: 6px;
    pointer-events: none;
}