.landingHeader {
    min-width: 30%;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem auto 0 auto;
}

.landingHeader svg {
    width: 100%;
}

.callToActionContaineir {
    margin: 3rem;
    display: inline-block;
    width: 25%;
    text-align: center;
}

.callToActionContaineir h1 {
    margin: 4rem 2rem 0 2rem;
    font-size: 2.25rem;
    text-align: justify;
}

.indexContent {
    display: flex;
}

.callToActionContaineir button {
    border: none;
    background-color: #0ABBB5;
    font-size: 3rem;
    margin-top: 2rem;
    padding: 1rem 4rem;
    color: #f4f4f4;
    cursor: pointer;
    font-display: inline-block;
}

.pageContainer {
    min-height: 100vh;
}

@media(max-width: 1250px) {
    .indexContent {
        flex-direction: column;
        align-items: center;
    }
    .callToActionContaineir {
        width: 50%;
        margin-top: 0;
    }
}

@media(max-width: 767px) {
    .callToActionContaineir {
        width: 80%;
    }
    .callToActionContaineir h1 {
        font-size: 1.5rem;
    }
    .callToActionContaineir button {
        width: 100%;
        padding: 1rem 0;
    }
    .landingHeader {
        width: 60%;
    }
}
