.navbar {
    background-color: #343434;
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    color: #f4f4f4;
    font-size: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.navLogo {
    margin: 1rem 2rem 1rem 3rem;
    cursor: pointer;
}

.contactIcon {
    margin: 1rem;
    cursor: pointer;
    font-size: inherit;
    background-color: transparent;
    border: none;
}

.catalogIcon {
    margin: 1rem 1rem 1rem auto;
}

.cartIcon {
    margin: 1rem 3rem;
    cursor: pointer;
}
