.ProductPageContainer {
    margin-top: 10rem;
    min-height: 70vh;
}

.ProductPageContainer h1 {
    margin: 2rem auto;
    width: 100%;
    text-align: center;
}

.imageIconsContainer {
    width: 64px;
    display: inline-block;
}

.imageIconsContainer button {
    display: inline-block;
    margin: 8px 1rem;
    border: none;
    cursor: pointer;
}

.mainImage {
    display: inline-block;
    filter: drop-shadow(10px 10px 0px #0ABBB5);
}

.imageDisplayer {
    vertical-align: top;
}

.pageContentContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
}

.ProductSelector {
    min-width: 400px;
    max-width: 60%;
    margin-left: 6rem;
}

/* Size Selector */

.sizeSelector {
    width: 100%;
}

.sizeSelector span {
    display: block;
    font-size: 20px;
}

.sizeSelector button {
    font-size: 2rem;
    background-color: transparent;
    border: 1px solid #222;
    padding: 4px 8px;
    margin: 1rem .5rem;
    cursor: pointer;
}

.sizeSelector button:first-of-type {
    margin-left: 2rem;
}

/* Color selector */

.colorSelector span {
    font-size: 20px;
    display: block;
}

.colorSelector select {
    border: 1px solid #D4AF37;
    font-size: 18px;
    margin: .5rem 2rem;
}

/* Description */

.description {
    width: 60%;
    margin: 4rem;
}

/* Price */

.price {
    font-size: 2rem;
}

.crossedPrice {
    font-size: 1.75rem;
    color: #888;
    text-decoration: line-through;
    margin-right: 1rem;
}

.buttonContexts {
    width: 100;
    text-align: center;
}

.buttonContexts button {
    background-color: #0ABBB5;
    border: none;
    color: #f4f4f4;
    font-size: 2rem;
    padding: 1rem 2rem;
    margin: 4rem 1rem;
    cursor: pointer;
}
